#!/usr/bin/env python


"""
Rename this file to secret_keys.py and add your api keys.
Never commit the file with the keys.
"""

key="your real api key"
b64secret="your real secret"

sbkey="your sandbox key"
sbsecret="your sendbox secret"

passphrase="your passphrase for both"